.dark-mode-pane {
    -fx-background-color: #090909;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-background-radius: 10px;
}

.dashboard-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.text-field {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.dashboard-button {
    -fx-background-color: #3fbd0d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
}

.dashboard-button:hover {
    -fx-background-color: #255f0f;
    -fx-cursor: hand;
}

.back-button {
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.0, 0, 1);
}
