.dark-mode-pane {
    -fx-background-color: white;
}


.image-container {
    -fx-background-color: #121212;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
}

.image-overlay-text {
    -fx-font-family: "Monotype Corsiva";
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-fill: #090909;
}

.login-form-container {
    -fx-background-color: white;
    -fx-padding: 30px;
}

.login-title {
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-text-fill: #090909;
    -fx-font-family: "Monotype Corsiva";
}

.login-field {
    -fx-background-color: #ebe5e5;
    -fx-text-fill: #090909;
    -fx-border-color: #5c5c5c;
    -fx-border-radius: 5px;
    -fx-padding: 7px;
    -fx-font-size: 16px;
    -fx-transition: -fx-border-color 0.3s ease;
}

.login-field:focused {
    -fx-border-color: #00aaff;
    -fx-border-width: 2px;
}

.login-field:hover {
    -fx-border-color: #3eff00;
    -fx-cursor: hand;
    -fx-translate-x: 3px ease;
}

.logo {
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: #ff0000;
    -fx-border-color: #00aaff;
    -fx-border-width: 2px;
    -fx-font-style: italic;
    -fx-font-family: "Arial";
    -fx-padding: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #00aaff, 5, 0.0, 0, 1);
}

.logo:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.login-button {
    -fx-background-color: #19bf0d;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-font-family: "Arial";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-transition: -fx-background-color 0.3s ease;
}

.login-button:hover {
    -fx-background-color: #338d0f;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 0, 5);
}

.login-button:pressed {
    -fx-background-color: #2b6215;
    -fx-translate-y: 1px;
}

.register-link {
    -fx-text-fill: #00aaff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-transition: -fx-text-fill 0.2s ease;
}


.footer-text {
    -fx-font-size: 14px;
    -fx-fill: #888888;
    -fx-font-family: "Arial";
}

.login-field, .login-button {
    -fx-transition: -fx-translate-y 0.3s ease, -fx-opacity 0.3s ease;
}

@media (max-width: 800px) {
    .login-title {
        -fx-font-size: 60px;
    }

    .login-field, .login-button {
        -fx-max-width: 300px;
    }
}
.password-toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-padding: 6px;
    -fx-font-weight: bold;
}

.password-toggle-button:hover {
    -fx-opacity: 0.8;
}