.dark-mode-pane {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
}

.dashboard-title {
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-text-fill: #090909;
    -fx-font-style: black;
    -fx-font-family: "Bell MT";
}

.back-button {
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.0, 0, 1);
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: green;
    -fx-text-fill: #090909;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.label {
    -fx-text-fill: #090909;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.dashboard-button {
    -fx-background-color: #39bb05;
    -fx-text-fill: #090909;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-font-family: "Arial";
    -fx-pref-width: 150px;
    -fx-padding: 10px;
}

.dashboard-button:hover {
    -fx-background-color: #198d07;
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: #ffffff;
}

.table-view .column-header {
    -fx-font-weight: bold;
}

.combobox {
    -fx-background-color: #ffffff;
    -fx-text-fill: #090909;
    -fx-border-color: #39a20f;
    -fx-border-radius: 5px;
    -fx-padding: 4px;
    -fx-font-size: 16px;
}

.combobox .list-cell {
    -fx-padding: 4px;
}


.combobox .arrow-button {
    -fx-background-color: #ffffff;
}


